
.rectangulo {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    text-align: center;
    transition: background-color 0.3s ease;
}
.contenedortable{
    display: flex;
    align-items: start;
    justify-content: start;
}
.rectangulo:hover {
    background-color: rgb(94, 183, 212); /* Cambia el color al hacer hover */
}

.rectangulo.selected {
    background-color: rgb(56, 56, 230);
    color: white;
}

.rectangulo-header {
    font-size: 23px;
    font-weight: bold;
    white-space: pre-line;
}

table tr:hover {
    background-color: lightgray;
    cursor: pointer;
}

table tr:active {
    background-color: darkgray;
}
.table-container {
    max-height: 400px; /* Puedes ajustar la altura según tus necesidades */
    overflow-y: auto;
    align-items: end;
    justify-content: end;
    display: flex;
}

.table-container thead {
    position: sticky;
    top: 0;
    background-color: white; /* Asegúrate de que el fondo del encabezado sea blanco */
    z-index: 1;
}